$pure-white: #fff;
$light-white: #eddfb3; //rgba(238, 238, 238, 0.84);
$pure-black: rgb(0, 0, 0);
$pure-brown: #876445;
$dark-brown: #ca955c;
$white-transparent: rgba(210, 198, 186, 0.2);
$light-gray:rgb(125, 119, 119);

$light-gray-brown-gradient: linear-gradient(
	10deg,
	rgba(47, 50, 50, 0.45),
	rgba(59, 49, 37, 0.85)
);
