$main-color: #36290c;
$secondary-color: #43454b;
$pure-white: #fff;
$light-white: rgba(238, 238, 238, 0.84);
$pure-black: rgb(0, 0, 0);

$light-gray-brown-gradient: linear-gradient(
	10deg,
	rgba(47, 50, 50, 0.45),
	rgba(59, 49, 37, 0.85)
);
