@import "./colors";
@import "./mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #333;
}

.header-section {
	width: 500px;
	height: 250px;
	@include heroImg("../img/footwear-1838767_1920.jpg");
}

.main-section {
	width: 500px;
	height: 500px;
	background-color: red;
}
