*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header-section {
	width: 600px;
	height: 300px;
	background-color: blue;
}

.main-section {
	width: 600px;
	height: 600px;
	background-color: red;
}
